# Express Server Port
PORT=5000

# MongoDB Atlas / Local Connection URI
# Replace with your actual connection key/URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/hackathon_db?retryWrites=true&w=majority
